@keyframes loading {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.loading {
  animation: loading 4s ease infinite;
  background: linear-gradient(90deg,rgba(255,204,0, 0.5),rgba(255,204,0, 0.01),white);
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-size: 600%;
  align-items: center;
}

@keyframes spin {
  100% { transform: rotate(360deg)}
}

.loader {
  animation: spin 4s ease-in-out infinite;
  width: 300px;
  height: 300px;
}
