.comicBlock {
  background-color:  rgba(255,204,0, 0.5);
  border-radius: 5px;
  width: 331px;
}

.comicBlock > h2 {
  margin-bottom: 2em;
}

.comicBlock > img {
  width: 50vw;
}

.comicBlock > p { 
  font-style: oblique;
  margin-top: 4em;
}

@media only screen and (min-width: 600px) {
  .comicBlock {
    width: 488px;
  }
  .comicBlock > img {
    max-width: 17em;
  }
}
@media only screen and (min-width: 768px) {
  .comicBlock {
    width: 600px;
  }
  .comicBlock > img {
    max-width: 25em;
  }
}

.comicBlock:focus {
  outline-color: gold;
}

.comicBlock > h2:focus {
  outline-color: black;
}

.comicBlock > img:focus {
  outline-color: black;
}

.comicBlock > p:focus { 
  outline-color: black;
}
