
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 0;
  max-width: 1200px;
  margin: 1em auto;
}


@media only screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}

.arrow {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.arrow:focus {
  color: rgba(255,204,0, 1);
  background-color: black;
  outline: none;
}

.arrow:hover {
  color: rgba(255,204,0, 1);
  background-color: black;
  cursor: pointer;
} 
