footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lightslategray;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.arrow {
  width: 3em;
}