.header {
  background-color: aliceblue;
  height: 10vh;
}

@media only screen and (min-width: 764px) {
  .header {
    background-color: aliceblue;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  height: inherit;
  align-items: center;
}

nav > a {
  height: 2em;
  width: 5em;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(0, 0, 255, .2);
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.9em;
  border-radius: 5px;
}

nav > a:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 0 16px rgba(0, 0, 255, .4);
}